.carousel {
  .width-100();
  .flex(center, center);
  height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  @media(min-width: 1200px){
    width: 1200px;
  }
  .left-button, .right-button {
    .flex(center);
    color: @lambda-times-color-white;
    background-color: @lambda-times-color-primary;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index:10;
    cursor: pointer;
    &:hover {
      color: @lambda-times-color-primary;
      background-color: @lambda-times-color-white;
      border: 2px solid @lambda-times-color-primary;
    }
  }
  .left-button {
    top: 50%; 
    left: 25px;
    transform: translate(0, -50%);
  }
  .right-button {
    top: 50%; 
    right: 25px;
    transform: translate(0, -50%);
  }
  img {
    .width-100();
    opacity: 0;
    transition: opacity 1.2s;
    z-index: 9;
  }
  .selected {
    .width-100();
    display: block;
    margin: 0 0 0 0;
    opacity: 1;
    position: absolute;
    z-index: 9;
  }
}

.dot-wrap {
  margin-top: 20px;
  margin-bottom: 5px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s linear;
 
  .dot:hover {
    background-color: #717171;
  }
}
.active {
  background-color: #717171;
}
